<section class="grid grid-cols-1 gap-4 md:grid-cols-2 ">
  <!-- 
    title, _content, source,
    raw, slug, published,
    date, updated, _id,
    comments,layout,photos,link
    site: {
        data, excerpt, more
    }
   -->
  <% page.posts.each(function(post, i){ %>
  <% 
    const isFirst = i === 0;
    const cover = "https://picsum.photos/400/300" 
  %>

  <article
    class="flex flex-col items-center p-6 space-x-0 space-y-6 text-gray-900 transition-all duration-75 ease-linear bg-gray-200 rounded-lg lg:space-y-0 lg:space-x-6 lg:flex-row lg:grid-cols-2 lg:grid-rows-none lg:first:col-span-2 hover:bg-white hover:shadow-sm">

    <a href="<%= url_for(post.slug) %>" class="flex-shrink-0 block overflow-hidden rounded-md <%= isFirst ? "h-80 w-128" : "" %>">
      <img src="<%= cover %>" class="object-cover w-full h-full">
    </a>

    <div class="relative flex flex-col">

      <div class="text-right tags">
        <span class="inline-block px-2 font-bold text-white bg-gray-600 rounded-md">Gamedev</span>
      </div>
      
      <h1 class="mt-2 mb-4 text-4xl font-bold leading-10 title">
        <a href="<%= url_for(post.slug) %>">
          Uma experiência incrível com Godot 4!
        </a>
      </h1>
      <a href="<%= url_for(post.slug) %>"
        class="excerpt flex-grow line-clamp-3 text-lg mb-6 <%= isFirst ? "line-clamp-8" : "" %>">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </a>
      <div class="flex items-center self-end author">
        <div class="pr-6 overflow-hidden leading-5 text-right info">
          <div class="font-bold text-gray-700 truncate name">Vitor "Pliavi" Silvério</div>
          <div class="text-gray-800 date">20 Jul. 2020</div>
          <div class="text-gray-600 text- readtime">12 min.</div>
        </div>
        <div class="photo">
          <img src="https://picsum.photos/64/64" class="overflow-hidden rounded-full">
        </div>
      </div>
    </div>

  </article>

  <% }) %>
</section>